<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.COVINFO"
        android:usesCleartextTraffic="true">
        <activity android:name=".AnadirDatosUsuario"></activity>
        <activity
            android:name=".mostrarDatosUsuario"
            android:label="@string/title_activity_mostrar_datos_usuario"
            android:theme="@style/Theme.COVINFO.NoActionBar" />
        <activity android:name=".opcionesDUM" />
        <activity android:name=".EliminarDatosbbdd" />
        <activity android:name=".ObtenerDatosbbdd" />
        <activity android:name=".AnadirDatosbbdd" />
        <activity android:name=".opcionesbbdd" />
        <activity
            android:name=".test_covid_Sos"
            android:label="@string/tituloTest" />
        <activity
            android:name=".test_covid_casa"
            android:label="@string/tituloTest" />
        <activity
            android:name=".test_covid_p3"
            android:label="@string/tituloTest" />
        <activity
            android:name=".test_covid_P2"
            android:label="@string/tituloTest" />
        <activity
            android:name=".test_covid_P1"
            android:label="@string/tituloTest" />
        <activity
            android:name=".test_covid_inicio"
            android:label="@string/tituloTest" />
        <activity
            android:name=".import_web"
            android:label="@string/EstadisticasMundiales" />
        <activity
            android:name=".Opciones"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>